 *{padding: 0; margin: 0; box-sizing: border-box; list-style: none; text-decoration: none; }
 a{text-decoration: none; color: black;}

@font-face { 
    font-family: 'Gilroy-Light'; 
    src: url('../fontes/gilroy/Gilroy-Light.otf'); 
  } 
@font-face { 
    font-family: 'Gilroy-Medium'; 
    src: url('../fontes/gilroy/Gilroy-Medium.otf'); 
} 
@font-face { 
    font-family: 'Gilroy-Bold'; 
    src: url('../fontes/gilroy/Gilroy-ExtraBold.otf'); 
} 

body{
    font-family: 'Gilroy-Medium', sans-serif;
}

/* Parte inicial da tela do Coffee */
.fundo-1{
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    max-width: 1580px;
    margin: 0 auto;
}
.principal{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0px;
}  
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
} 
.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.menu span{
    width: 28px;
    height: 2.5px;
    background-color: #FFFFFF;
}
.logo{
    font-family: 'Playfair display';
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}
.carrinho{
    width: 18px;
    height: 20px;
    cursor: pointer;
}

.topo {
    color: white;
    margin: 140px 0px 100px;
}
.rotacao{
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
}
.slide{
    width: 32px;
    height: 4px;
    background-color: #FFFFFF;
    opacity: 0.5;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 0px;
}
.slide:hover{
    background-color: white;
    opacity: unset;
    transition:1s;
}
.ativo{
    opacity: unset;
}
.topo h1{
    font-size: 80px;
    line-height: 88px;
    font-weight: bold;
    margin: 40px 0px;
    font-family: 'Playfair Display', serif;
}
.topo span{
    font-size: 32px;
    font-weight: 400;
}
.setas{
    margin-top: 160px;
    width: 130px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

main{
    margin: 0 auto;
    max-width: 1200px;
}
h2{
    font-family: 'Playfair Display', serif;
}
/* <!-- Duas Sessões com 2 divisórias contendo 1 texto e 1 imagem. --> */
aside{
    max-width: 1200px;
    height: 1200px;
    margin-top: 40px;
    margin-bottom: 120px;
}
aside img{
    width: 600px;
    height: 550px;    
}
aside h2{
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
}
.lado1 {
    max-width: 1200px;
    height: 500px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.lado1 p{
    width: 550px;
    height: 220px;
    size: 28px;
    line-height: 40px;
    margin: 32px 0;
}
.l{
    display: inline-block;
}
.texto{
    color: #0B1D03;
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    padding: 30px;
}
/* <!-- Sessão contendo a vitrine dos produtos --> */
.vitrine{
    margin: 100px 0px 200px;
}
.vitrine h2{
    color: #A0996C;
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 64px;
}
.vitrine ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.vitrine li{
    width: 380px;
    padding: 35px 0px;
    border-radius: 8px;
    background-color: #F7F1E6;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produtos h3{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.produtos span strong{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    color: #0B1D03;
    margin-right: 10px;
}
.produtos span{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #969696;
    margin: 20px 0px;
}
.produtos button {
    background-color: #0B1D03;
    width: 220px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Gilroy-Medium'; 
    color: white;
    border-radius: 4px;
}

/* <!-- Sessão com uma lista de ícones lateral e duas imagens --> */

.lado ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.lado li{
    width: 20%;
    text-align: center;   
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.lado h2{
    font-weight: bold;
    line-height: 60px;
    font-size: 56px;
}

.lado p{
    margin-top: 20px;
    font-weight: 500;
    line-height: 26px;
    font-family: 'Gilroy-Light';
}

.divisoria{
    display: flex;
    justify-content: space-between;
    color: white; 
    margin: 70px 0px 200px;
}
.divi{
    width: 590px;
    height: 560px;
    padding: 400px 0px 40px 40px;
}

.catalogo{
    background-image: url(../img/graos-cafe.png);
}
.acessorios{
    background-image: url(../img/bule.png);
}

/* <!-- Formulário e Mapa --> */

.mapa h2{
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 40px;
}
form{
    width: 1200px;
    margin: 20px 0px;
}

.cidade{
    font-family: 'Gilroy-Medium', sans-serif;
    width: 440px;
    border: solid 2px black;
    display: inline-block;
    height: 76px;
    padding: 25px;  
    color: #807b7b;
}

form input{
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: 680px 25px;
    margin-left: 20px;
    width: 735px;
    height: 76px;
    display: inline-block;
    border: solid 2px black;
    padding: 25px;
}

.mapa img{
    max-width: 1200px;
    margin-bottom: 50px;
}
/* <!-- Rodapé --> */
footer{
    max-width: 1580px;
    background-color: #F7F1E6;
    margin: 0 auto;
}

footer section{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
footer h3{
    text-align: center;
    padding: 10px 0px;
}  

/* Modal */
.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.opened-modal{
     display: block;
}
.compras{
    width: 30%;
    height: 250px;
    background-color: white;
    padding: 20px;
    border-right: solid 2px #C4C4C4;
    font-family: 'Gilroy-Medium', sans-serif;
    position: fixed;
    right: 50.5%;
}
.compras h3{
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0B1D03;
    padding-bottom: 15px;
}

.cafe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0px;
    background-color: #F2F2F2;
    margin-bottom: 15px;
}
.cafe img {
    width: 92px;
    height: 115px;
}
.cafe button {
    width: 45px;
    border: none;
    color: #A0996C;
    cursor: pointer;
}

.tex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
}

/* .fundo-2{
        background-image: url(../img/fundo.png);
        background-repeat: no-repeat;
        height: 100vh; 
        width: 50vw;
        background-size: cover;
} */

.formulario{
    background-color: white;
    height: 100vh; 
    width: 50vw;
    padding: 20px 0px;
    font-family: 'Gilroy-Medium', sans-serif;
    position: fixed;
    right: 0;
    top: 0;
}
.fechar{
    position: absolute;
    right: 20px;
    appearance: none;
    top: 2%;
    cursor: pointer;
}
.formulario ul{
    width: 550px;
    margin: 5px auto 15px; 
}
.formulario ul li {
    display: inline-block;
    margin-right: 10px;
    color: #969696;
    font-weight: 600;

}

.formulario form{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form input{
    width: 550px;
    border: solid 2px;
    height: 50px;
    border-radius: 4px;
    padding: 20px 20px;
    margin: 10px 0px;
}
input:focus{
    box-shadow: 0px 0px 13px 0px #215c07;
    transition: .5s;
}
form ::placeholder{
    font-family: 'Gilroy-Medium', sans-serif;
}

.formulario form textarea{
    width: 550px;
    height: 150px;
    border: #0B1D03 solid 2px;
    border-radius: 4px;
    margin: 6px 0px;
    padding: 20px 20px;
    resize: none;
    position: relative;
}

.container-text{
    position: relative;
}

#comentario::before {
    content: '';
    width: 0.81rem;
    height: 1px;
    position: absolute;
    right: 1px;
    bottom: 17px;
    z-index: 1;
    transform: rotate(-45deg);
    background-color: #969696;
}
#comentario::after {
    content: '';
    width: 0.50rem;
    height: 1px;
    position: absolute;
    right: 1px;
    bottom: 15px;
    z-index: 1;
    transform: rotate(-45deg);
    background-color: #969696;
}

.formulario form button{
    width: 550px;
    height: 50px;
    background: #0B1D03;
    border-radius: 4px;
    color: #FFFFFF;
    /* margin: 10px 0px; */
}
/* .formulario form button a{
    color: white;
    cursor: pointer;
    padding: 20px;
}  */
/* .modal{
    width: 50%;
    height: 100vh;
    position: fixed;
    top:0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
.opened-modal{
     display: block;
} */